.container-fluid {
  font-family: "Source Sans Pro", sans-serif;
}

#sare {
  color: #176d9d;
}

#border {
  border-top: 2px solid #176d9d;
}

#label_input {
  font-size: 15px;
}

#botao {
  /* background: #176d9d;
   */
  background: #307cbf;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  display: block;
  border-radius: 5px;
  border: #176d9d;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

#botao:hover {
  background: #5395d3;
}

#box {
  margin-top: 30px;
}

#box_subtitle {
  font-size: 15px;
  font-weight: bold;
}

#box_inner {
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
}

#fieldset {
  border-radius: 3px;
  padding: 20px;
  background: #f9f9f9;
}
